<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <img src="https://avatars.githubusercontent.com/u/30132798?v=4" alt="" srcset="">
    <h1>Hola Mundo</h1>
    <a href="https://www.facebook.com/">Facebook</a>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>

</ion-content>



<ion-content [fullscreen]="false">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Felipe Ramirez</ion-card-subtitle>
        <ion-card-title>Estudiante</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img src="https://avatars.githubusercontent.com/u/30132798?v=4" alt="" srcset="">
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
